body {

}
.container-fluid {
    background-color: fuchsia;
    font-family: "Roboto", "Arial", sans-serif;
}
/* style the headings */
h1 {

    color: yellow;
    text-align: center;
    }

h2 {
    color: yellow;
    text-align: center;
}

/* style the paragraphs */
p {
    color: darkblue;
}

/* style the topnav bar*/

.topnav {
    background-color: aqua;
    overflow: hidden;

}
